.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  transition: background-color 0.5s ease-in;
  opacity: 40%;
}

.card__like-button:hover {
  background-color: rgba(33, 33, 33, 1);
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
