.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font: 500 20px/1.2 Poppins;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 356px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 23px;
  height: 20px;
  border: none;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 150ms ease;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
  }
}
