.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 190px;
}

.card__delete-btn {
  background: url(../images/delete.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  transition: opacity 150ms ease;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
  opacity: 1;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 23px;
  height: 20px;
  border: none;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 150ms ease;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/like.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
  }

  .card__like-button {
    height: 18px;
  }
}
