.modal {
  padding: 0 10px;
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  max-width: 730px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-bttn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  transition: 0.3s;

  padding: 0;
  opacity: 0.4;
  background: transparent url("../images/close-icon.svg") center no-repeat;
  cursor: pointer;
}

/* how exactly am I supposed to make the close button white? */
.modal__close_type_preview {
  top: 0;
  right: -52.5px;
  border: 2px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 150ms ease;
}

.modal__close_type_review:hover {
  opacity: 0.7;
  cursor: pointer;
  background-color: #333;
}

.modal__close-bttn:hover {
  opacity: 0.8;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 16px;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  padding: 16px 12px;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px 18px 32px;
  background-color: #212121;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.modal__submit-btn:hover {
  background-color: #000000;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  padding: 4px 8px;
  background-color: #212121;
  border-radius: 8px;
  display: inline-block;
  position: absolute;
  bottom: -60px;
}

/* I attempted to do the bottom w/h 8px,
but for some reason, the caption rested on the lower-left of the image;
and no matter what I tried to do, the -60 was the closest I could make it
to looking like the Figma model. */

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-bttn {
    top: 16px;
    right: 12px;
  }

  .modal__form {
    margin-top: 34px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__input {
    font-size: 16px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}
