.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is_opened {
  visibility: visible;
}

.modal__container {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: 2px;
  padding: 0;
  opacity: 40%;
  background: #ffffff;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 16px;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-color: #2121214d;
  border-radius: 8px;
  padding: 16px 12px 16px 12px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px 18px 32px;
  background-color: #212121;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .modal__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }

  .modal__submit-btn {
    width: 100%;
    height: 48px;
    font-size: 14px;
    padding: 12px;
  }

  .form__input {
    width: 100%;
    font-size: 14px;
  }
}
