.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  color: #212121b2;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__edit-btn {
  margin-top: auto;
  border: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  opacity: 0.7;
  background-color: transparent;
  transition: opacity 0.5s ease-in;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__new-post-btn {
  width: 157px;
  height: 52px;
  border-radius: 8px;
  margin-left: auto;
  color: rgba(252, 245, 229, 1);
  background-color: rgba(33, 33, 33, 1);
  transition: background-color 0.5s ease-in;
  border: none;
  gap: 6px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  cursor: pointer;
}

.profile__new-post-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    margin: 0 auto;
  }

  .profile__new-post-btn {
    margin: 0;
    width: 100%;
  }
}
